body{
  background-color: rgb(55, 55, 55);
}
.tittleIndex{
  color: rgb(230, 158, 3);
  text-align: center;
  margin-top: 80%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
.tittleIndex2{
  color: rgb(230, 158, 3);
  text-align: center;
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
#map {
  height: 200px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }
 hr {
  height: 2px;
  border: 0;
  background-color: white;
}
#icon{
  background-color: rgb(55, 55, 55);
  display: inline-block;
  border: inherit;
}
input{
  display: inline-block;
}
#img1{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 10%;
}
#img{
  display: inline-block;
  width: 100px;
  height: 100px;
}
#img2{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 23%;
}